<!DOCTYPE html>
<html>
<head>
    <title>Gerar Carga de Franquias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .container {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .alert {
            margin-top: 10px;
        }

        .button-group {
            display: flex;
            gap: 10px; /* Espaçamento entre os botões */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Gerar Carga de Franquias</h2>

        @if (!string.IsNullOrEmpty(Model?.Mensagem))
        {
            <div class="alert alert-info">@Model.Mensagem</div>
        }

        @if (TempData["Erro"] != null)
        {
            <div class="alert alert-danger">@TempData["Erro"]</div>
        }

        <form asp-action="ExecutarProcedure" method="post" class="form-group">
            <label for="filial">Selecione a Filial:</label>
            <select name="filial" asp-items="@ViewBag.V_FILIAIS_ATIVAS_FRANQUIAS" class="form-control">
                <option value="">Selecione uma filial</option>
            </select>

            <div class="button-group mt-3">
                <button type="submit" class="btn btn-primary">Gerar Saldo</button>
                <button type="submit" formaction="@Url.Action("GerarArquivoTxt")" class="btn btn-success" @(string.IsNullOrEmpty(Model?.Mensagem) || Model.Mensagem != "Saldo Gerado com sucesso!" ? "disabled" : "")>Gerar Arquivo TXT</button>
            </div>
        </form>
    </div>
</body>
</html>